.add {
  display: flex;
  justify-content: center;
  .container {
    width: 1400px;
    padding: 50px 0px;

    h1 {
      width: max-content;
      margin-bottom: 30px;
      color: gray;
      font-weight: 300;
    }
    .sections {
      display: flex;
      justify-content: space-between;
      gap: 100px;

      label {
        color: gray;
        font-size: 18px;
      }
    }
  }
}
